<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="utf-8"
    />
    <title>Google</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/results.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="wrapper" v-bind:class="{'results': googleSearch != '' }">
      <nav>
        <a href="#" class="res-hidden">Gmail</a>
        <a href="#" class="res-hidden">Grafika</a>
        <img src="img/g-menu.PNG" />
        <button>Zaloguj się</button>
      </nav>
      <section class="section-1">
        <img src="img/logo.png" class="logo" />
        <div class="search-row">
          <div>
            <div class="s-box">
              <img src="img/search.png" class="search-icon" />
              <div id="app">
                <input
                  type="text"
                  class="s-input"
                  id="main-search"
                  v-model="googleSearch"
                  @input="onChange"
                />
                <ul
                  v-show="isOpen"
                  class="dropdown-menu autocomplete-results"
                  style="width: 100%"
                >
                  <li
                    v-for="(item, i) in filteredCities"
                    :key="i"
                    @click="suggestionClick(item)"
                  >
                    <span class="filteredCities" v-html="item"></span>
                  </li>
                </ul>
              </div>
              <img src="img/keyboard.png" class="keyboard-icon" />
              <div class="mic">
                <svg
                  class="HPVvwb"
                  focusable="false"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill="#4285f4"
                    d="m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z"
                  ></path>
                  <path fill="#34a853" d="m11 18.08h2v3.92h-2z"></path>
                  <path
                    fill="#fbbc05"
                    d="m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z"
                  ></path>
                  <path
                    fill="#ea4335"
                    d="m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z"
                  ></path>
                </svg>
              </div>
              <div class="buttons">
                <input
                  type="submit"
                  id="submit-btn"
                  class="s-btn"
                  value="Szukaj w Google"
                />
                <input type="submit" class="s-btn" value="Szczęśliwy traf" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="results-rows">
        <div id="border1">
          <div class="option-bar">
            <div class="single-icon"><img src="img/lupka.svg" /> Wszystko</div>
            <div class="single-icon"><img src="img/kraj.svg" /> Wiadomości</div>
            <div class="single-icon"><img src="img/tekst.svg" /> Grafika</div>
            <div class="single-icon"><img src="img/play.svg" /> Wideo</div>
            <div class="single-icon"><img src="img/punkt.svg" /> Mapy</div>
            <div class="single-icon"><img src="img/kropki.svg" /> Więcej</div>
            <div class="single-icon"><a href="">Ustawienia</a></div>
            <div class="single-icon"><a href="">Narzędzia</a></div>
          </div>
        </div>
        <div class="count-info">Około 13 160 000 000 wyników (0,43 s)</div>
        <div class="single-res">
          <div class="header">Pozycjonowanie - Pozycjonowanie Strony</div>
          <div class="text">
            Bądź wyżej niż inni. Kontroluj koszty. Postaw na doświadczenie i
            sprawdzone metody. Daj się znaleźć nowym klientom. Wypromuj swoją
            firmę w internecie. Członek IAB Polska.
          </div>
        </div>
        <div class="single-res">
          <div class="header">
            Skuteczne pozycjonowanie - Wyprzedź konkurencję
          </div>
          <div class="text">
            Popraw widoczność swojej strony w Internecie. Bezpieczne metody
            pracy. Liczne promocje. Z nami dojdziesz szybko i bezpiecznie na
            szczyt wyników wyszukiwania. Indywidualny konsultant. Dostęp online
            do wyników. Bezpieczne pozycjonowanie.
          </div>
        </div>
        <div class="single-res">
          <div class="header">
            Pozycjonowanie stron internetowych darmowy audyt SEO
          </div>
          <div class="text">
            Ile kosztuje pozycjonowanie strony? Koszt pozycjonowania jest
            uzależniony od wielu czynników, dlatego usługi SEO wycenia się
            indywidualnie.
          </div>
        </div>
        <div class="single-res">
          <div class="header">
            Skuteczne pozycjonowanie stron www - SEO : Sunrise System
          </div>
          <div class="text">
            Pozycjonowanie stron internetowych (ang. search engine optimization)
            – to szereg działań marketingowych mających na celu uzyskanie
            możliwie najwyższej ...
          </div>
        </div>
        <div class="single-res">
          <div class="header">
            Skuteczne pozycjonowanie stron internetowych - home.pl
          </div>
          <div class="text">
            Otrzymaj darmową wycenę skutecznego pozycjonowania stron
            internetowych - Skuteczne pozycjonowanie stron w home.pl -
            Pozycjonowanie stron WWW.
          </div>
        </div>
        <div class="single-res">
          <div class="header">
            Co to jest pozycjonowanie? Od czego zacząć? Zobacz nasz ...
          </div>
          <div class="text">
            Pozycjonowanie strony to Twój obowiązek, jeżeli chcesz zaistnieć w
            Internecie. Liczba Internautów w Polsce rośnie z roku na rok. Z
            samej wyszukiwarki Google ...
          </div>
        </div>
        <div class="single-res">
          <div class="header">
            Pozycjonowanie stron www - bezpłatna analiza SEO 2021 ...
          </div>
          <div class="text">
            Pozycjonowanie stron internetowych w wyszukiwarce Google (SEO -
            Search Engine Optimization). Dobrze wiesz, że potrzebujesz wysokich
            pozycji w Google, aby ...
          </div>
        </div>
      </div>
    </div>

    <footer>
      <h4>Polska</h4>
      <div class="links">
        <div class="link-1">
          <a href="#">O nas</a>
          <a href="#">Reklamuj się</a>
          <a href="#">Dla firm</a>
          <a href="#">Jak działa wyszukiwarka</a>
        </div>
        <div class="link-2">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAMAAAAiV0Z6AAAAPFBMVEVLoEN0wU6CzFKCzFKCzFKCzFKCzFJSo0MSczNDmkCCzFJPoUMTczNdr0gmgziCzFITczMTczMTczMTczPh00jOAAAAFHRSTlPF/+bIsms8Ad///hX+//5/tXw7aMEAx10AAACaSURBVHgBbc4HDoRQCATQ33tbvf9dF9QxaCT9UQaltLHOh/golXKhMs5Xqa0xU1lyoa2fXFyQOsDG38qsLy4TaV+sFislovyhPzLJJrBu6eQOtpW0LjbJkzTuTDLRVNKa3uxJI+VdiRqXSeu6GW+Qxi29eLIi8H7EsYrT42BD+mQtNO5JMjRuC4lSY8V4hsLX0egGijvUSEP9AbylEsOkeCgWAAAAAElFTkSuQmCC"
            class="Pb9hCb"
            alt=""
          />
          <a href="#">Neutralność węglowa od 2007 roku</a>
        </div>
        <div class="link-3">
          <a href="#">Prywatność</a>
          <a href="#">Warunki</a>
          <a href="#">Ustawienia</a>
        </div>
      </div>
    </footer>
    <script src="cities.js"></script>
    <script>
      var app = new Vue({
        el: "#wrapper",
        data: function () {
          return {
            googleSearch: "",
            cities: window.cities,
            arrowCounter: -1,
            results: [],
            isOpen: false,
          };
        },
        computed: {
          filteredCities: function () {
            if (this.googleSearch != "") {
              let tab = [];
              let tab1 = [];
              tab = this.cities
                .filter((ele) => ele.country.includes(this.googleSearch))
                .slice(0, 10);
              this.result = tab;
              tab.map((element) => {
                tab1.push(
                  element.country.replace(
                    new RegExp(this.googleSearch, "gi"),
                    (match) => {
                      return (
                        '<span style="font-weight:300">' + match + "</span>"
                      );
                    }
                  )
                );
              });
              return tab1;
            } else {
              return [];
            }
          },
        },
        methods: {
          suggestionClick: function (result) {
            this.googleSearch = result
              .replace(
                new RegExp('<span style="font-weight:300">', "gi"),
                (match) => {
                  return "";
                }
              )
              .replace(new RegExp("</span>", "gi"), (match) => {
                return "";
              });
            this.isOpen = false;
          },
          onChange() {
            this.isOpen = true;
            this.results = this.cities
              .filter((ele) => ele.country.includes(this.googleSearch))
              .slice(0, 10);
          },
        },
      });
    </script>
    <script>
      document.getElementById("submit-btn").onclick = function () {
        if (!!document.getElementById("main-search").value)
          document.getElementById("wrapper").classList.add("results");
      };
    </script>
  </body>
</html>
